body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

article {
  background-color: rgb(179, 180, 180);
  position: relative;
  border-radius: 1rem;
  box-shadow: 2px 8px 6px;
  display: grid;
  gap: 0.4rem;
  place-items: center;
  width: 200px;
  height: 300px;
}

article::after {
  position: absolute;
  content: "@";
}

.card {
  width: 85%;
  display: grid;
  padding: 1rem 0.4rem 0rem 0.4rem;
  gap: 0.4rem;
  place-items: center;
}
